<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FF6961;">
    <div class="navbar-brand mr-3">
      <span class="d-inline-block">HomeCraftHub</span>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/workers">Workers</a>
        </li>
      </ul>
    </div>
    <div class="navbar-nav ml-auto"> <!-- Utilize ml-auto to move items to the right -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cart">Cart</a>
        </li>
      </ul>
    </div>
  </nav>