<!--  
<app-login></app-login>
<app-signup></app-signup>  -->

<!-- <app-navbar></app-navbar>
<app-carousel></app-carousel>
<app-product-section></app-product-section>
<app-footer></app-footer>   -->

<app-navbar></app-navbar> 
 <router-outlet></router-outlet>
<!-- <app-register></app-register> -->